
@{
    ViewBag.Title = "LogInByrole";
}

<style>
    .Container {
        width: 50%;
        margin: auto;
        background-color: aliceblue;
        padding: 35px 60px;
        opacity:0.8;
    }
     
    @@media(max-width: 800px){
        .Container{
            width: 95%;
        }
    }

    h2 {
        margin-top: 50px;
    }

    .link {
        margin-top: 50px;
        
    }
    .list li {
        font-size: 1.5em;
        text-decoration: none;
        list-style: none;
    }
    .img img{
        width:60px;
    }
</style>

<div class="Container">
<h2>Select Your User Role</h2>
<ul class="list">
    
    <li>
        <div>
            <div class="link">
                @Html.ActionLink("Guest", "Login", "Account", "", new { @style = " color: black;" } )
            </div>
            <div class="img">
                <img src="https://cdn-icons-png.flaticon.com/512/5828/5828115.png" />
            </div>
        </div>
    </li>
    <li>
        <div>
            <div class="link">
                @Html.ActionLink("Agent", "LoginAgent", "Account", "", new { @style = " color: black;" })
            </div>
            <div class="img">
                <img src="https://cdn-icons-png.flaticon.com/512/3/3729.png" />
            </div>
        </div>
    </li>
    <li>
        <div>
            <div class="link">
                @Html.ActionLink("Admin", "LoginAdmin", "Account", "", new { @style = " color: black;" })
            </div>
            <div class="img">
                <img src="https://cdn-icons-png.flaticon.com/512/2206/2206368.png" />
            </div>
        </div>
    </li>
</ul>
</div>
