<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8e8333ac-3323-48e3-949b-29b77e2387c0/resourcegroups/Real_Estate_App/providers/Microsoft.Web/sites/DemoRealEstate20221121050928</ResourceId>
    <ResourceGroup>Real_Estate_App</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demorealestate20221121050928.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>demorealestate20221121050928.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DemoRealEstate20221121050928</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$DemoRealEstate20221121050928</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:demorealestatedbserver.database.windows.net,1433;Initial Catalog=RealEstate_db;User ID=Ntuthuko@demorealestatedbserver;Password=12345@King" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DemoRealEstate.Models.ApplicationDbContext, DemoRealEstate" MigrationConfiguration="DemoRealEstate.Migrations.Configuration, DemoRealEstate" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:demorealestatedbserver.database.windows.net,1433;Initial Catalog=RealEstate_db;User ID=Ntuthuko@demorealestatedbserver;Password=12345@King</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>